:root {
    --font-heading--family: basic-sans, sans-serif !important;
    --font-heading--weight: 600 !important;
    --font-paragraph--line-height: var(--line-height--body-loose) !important;
}

body, .paragraph:not(.button), .paragraph>*, .text-block.paragraph :is(h1,h2,h3,h4,h5,h6) {
    letter-spacing: var(--letter-spacing--body-loose);
}

.button-unstyled.slideshow-control.slideshow-control--shape-circle {
    width: var(--minimum-touch-target);
    height: var(--minimum-touch-target);
}

slideshow-controls.carousel-controls:has(.icon-pause) {
    justify-content: center !important;
}

slideshow-controls .icon-pause,
slideshow-controls .icon-play {
    display: none !important;
}

.section {
    --full-page-grid-central-column-width: min(75rem - var(--page-margin) * 2, calc(100% - var(--page-margin) * 2)) !important;
}

slideshow-component:not(.slideshow--content-on-media) .slideshow-controls__dots button {
    --size: .32rem !important;
}

.slideshow-controls__dots button[aria-selected=true]:after, .slideshow-controls__dots button:after {
    box-shadow: unset !important;
}

.o-hidden {
    overflow: hidden !important;
}

.account-button__avatar {
    --shopify-account-signed-in-avatar-size: 24px !important;
}

.text-block ul {
    margin: 0;
    padding-left: 1.5rem;
    list-style-position: outside;
    list-style-type: none;
}

.text-block li {
    position: relative;
}


video-media {
  width: 100%;
  height: 100%;
  aspect-ratio: var(--video-aspect-ratio, auto);
}

video-media img {
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

video-media video {
  /* only apply this on the video block not product media */
  object-fit: cover;
  height: 100%;
  aspect-ratio: var(--size-style-aspect-ratio, auto);
  width: 100%;
}

.menu-drawer__menu-item--mainlist {
    --menu-top-level-font-size: var(--menu-font-xl--size) !important;
}

.menu-list__link:has(.menu-arrow-icon) {
    gap: 0;
    flex-direction: row;
    align-items: center;
}


.menu-list__list-item {
    position: relative;
}

.menu-drawer__navigation {
    --menu-child-font-size: var(--menu-font-md--size) !important;
}

.mega-menu__list {
    grid-template-columns: 1fr !important;
    grid-template-columns: 1fr !important;
    grid-column: 1 !important;
}

.mega-menu__grid {
    grid-template-columns: 1fr !important;
}

/* .mega-menu__list, .mega-menu__grid {
    --menu-columns-desktop: 1 !important;
    --menu-columns-tablet: 1 !important;
} */

.mega-menu {
    grid-template-columns: 1fr !important;
}

.mega-menu__grid {
    grid-column: -1 /1 !important;
}

.overflow-menu:after {
    display: none !important;
}

.menu-list__submenu-inner {
    padding-block: var(--padding-lg) !important;
    padding-inline: var(--padding-md) !important;
}

.menu-list__submenu {
    width: 12rem !important;
}

.menu-list__submenu-inner, .overflow-menu::part(overflow-list) {
    border: 1px solid rgb(var(--color-border-rgb) / var(--opacity-50));
    background: var(--color-background);
}

.header__underlay.header__underlay-open {
    display: none !important;
}

.mega-menu__link {
    --menu-child-font-size: var(--menu-font-md--size) !important;
}

.use-height-icon img, .use-height-icon svg {
    width: auto !important;
    height: var(--height) !important;
    object-fit: contain;
}

.button {
    font-size: var(--font-size--lg);
    --button-padding-block: 12px !important;
    letter-spacing: var(--letter-spacing--body-loose);
}

.menu-drawer__list-item--divider .menu-drawer__menu-item:not(.menu-drawer__menu-item--child) {
    min-height: calc(2 * var(--padding-xl) + var(--icon-size-xs)) !important;
}

.facets__filters-wrapper:has(.pills-filter) {
    max-width: 100% !important;
    width: 100%;
}

.pills-filter .facets__inputs-list {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
}

.facets:has(.pills-filter) {
    --facets-panel-height: auto !important;
    --facets-grid-panel-width: 100% !important;
}

.facets:has(.pills-filter) .facets-horizontal-remove {
    display: none !important;
}

.facets--drawer:has(.pills-filter) .facets-remove {
    display: none;
}

.facets--drawer .pills-filter {
    padding-inline: var(--padding-sm) !important;
    display: block;
}

.facets__see-results {
    padding-block: var(--padding-sm) !important;
}

.resource-card__media {
    --resource-card-aspect-ratio: 1 !important;
}

.header-actions__action svg {
    width: var(--icon-size-sm) !important;
    height: var(--icon-size-sm) !important;
}

.header-drawer-button {
    padding-block: var(--padding-md);
    padding-inline: var(--drawer-padding) !important;
}

.header-drawer-button .header-button {
    display: block !important;
    width: fit-content;
}

.deferred-media__poster-icon {
    border-radius: 50%;
    background: var(--button-background-color);
    padding: var(--padding-md);
    width: 4rem;
    height: 4rem;
}

.deferred-media__poster-icon svg, .video-placeholder-wrapper__poster-icon svg {
    width: 2.4rem;
    height: 2.4rem;
}

.menu-list__link[aria-haspopup="true"] .menu-list__link-title {
    padding-inline-end: calc(var(--gap-xs) / 2) !important;
}

.compare-at-price {
    opacity: .6;
    font-size: var(--font-size--sm);
    color: var(--color-foreground);
    font-weight: normal;
}

.product-badges__badge--rectangle {
    --badge-rectangle-padding-block: 1px !important;
}

product-price .product-badges__badge--rectangle {
    --badge-rectangle-padding-block: 4px !important;
}

.product-badges__badge {
    font-weight: 500 !important;
}

product-price [ref="priceContainer"]:has(.product-badges__badge) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-2xs);
}

product-price [ref="priceContainer"]:has(.product-badges__badge) .product-badges__badge {
    width: fit-content;
    margin-left: var(--gap-xs);
}

.product-details {
    --sidebar-width: 35rem !important;
}

.button[id^=BuyButtons-ProductSubmitButton-] {
    font-weight: bold !important;
}

.slideshow-controls__thumbnails .slideshow-control {
    width: clamp(60px, 7vw, var(--thumbnail-width)) !important;
}

.installments {
    font-size: var(--font-size--sm) !important;
}

.text-block img {
    display: block;
    width: fit-content;
    border-radius: 12px;
}

.accordion .details__header {
    padding-block: var(--padding-lg) !important;
}

.text-icon-block .group-block-content[style*="--horizontal-alignment: flex-start;"] .use-height-icon {
    margin-top: var(--gap-2xs);
}
/* back-to-top.css */
back-to-top {
  position: fixed;
  bottom: 6rem;
  right: 2rem;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

back-to-top.active {
  opacity: 1;
  visibility: visible;
}

.back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8rem;
  height: 2.8rem;
  border: none;
  border-radius: 50%;
  background: var(--color-border);
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

back-to-top svg {
    display: block;
    width: var(--icon-size-lg);
    height: var(--icon-size-lg);
    transform: rotate(-90deg);
    color: var(--color-foreground);
}

@media (min-width: 750px) {
    .slideshow-section slideshow-arrows .slideshow-control:first-of-type {
        margin-inline-start: var(--padding-lg) !important;
    }

    .slideshow-section slideshow-arrows .slideshow-control:last-of-type {
        margin-inline-end: var(--padding-lg) !important;
    }

    .media-gallery--carousel slideshow-container, .media-gallery--grid .product-media>* {
        border: 1px solid var(--color-border);
    }
}

@media (max-width: 749px) {
    :is(.carousel--mobile-full-width) > .resource-list__carousel, :is(.carousel--mobile-full-width) > .custom-section-content {
        grid-column: 1 / -1;
    }

    .carousel--mobile-full-width .resource-list__carousel[style*="--mobile-card-size: 100%;"] slideshow-slides {
        padding-inline: 0 !important;
        scroll-padding-inline-start: 0;
    }

    :is(.carousel--mobile-full-width) .featured-blog-posts-card__content {
        padding-inline: var(--page-margin);
    }

    .section--mobile-full-width .custom-section-content {
        grid-column: 1 / -1;
    }

    .mobile-group-column-reverse > .group-block-content {
        flex-direction: column-reverse !important;
    }

    .mobile-section-column-reverse {
        flex-direction: column-reverse !important;
    }

    .spacing-style[style*="--mobile-padding-block-start"] {
        padding-block: calc(var(--mobile-padding-block-start) + var(--section-top-offset, 0px)) var(--mobile-padding-block-end) !important;
    }

    .spacing-style[style*="--mobile-padding-inline-start"] {
        padding-inline: var(--mobile-padding-inline-start) var(--mobile-padding-inline-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    [style*="--mobile-font-size"],
    [style*="--mobile-font-size"] > * {
        font-size: var(--mobile-font-size) !important;
    }

    [style*="--mobile-border-radius"] {
        border-radius: var(--mobile-border-radius) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment"] {
        align-items: var(--horizontal-mobile-alignment) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment: flex-start"] {
        > .text-block {
            text-align: left;
        }
    }

    .mobile-column[style*="--horizontal-mobile-alignment: center"] {
        > .text-block, .text-block > * {
            text-align: center;
        }
    }

    [style*="--mobile-gap"] {
        gap: var(--mobile-gap) !important;
    }

    [style*="--mobile-ratio"] > img,  [style*="--mobile-ratio"] > video {
       aspect-ratio: var(--mobile-ratio) !important;
    }

    .use-height-icon[style*="--mobile-height"] img, .use-height-icon[style*="--mobile-height"] svg {
        height: var(--mobile-height) !important;
    }

    back-to-top {
        bottom: 5rem !important;
        right: 0.5rem !important;
    }
}